extends layout

block content
	pre.
		 ___   ___  ________  ___   ___
		|\  \ |\  \|\   __  \|\  \ |\  \
		\ \  \\_\  \ \  \|\  \ \  \\_\  \
		 \ \______  \ \  \\\  \ \______  \
		  \|_____|\  \ \  \\\  \|_____|\  \
		         \ \__\ \_______\     \ \__\
		          \|__|\|_______|      \|__|

	p The path #[script document.write(window.location.href)] was not found.
	p You are lost. (Probably).
	p #[a(href='/') Return to homepage.]
