extends layout

block content
	h2 Blog

	each post in data.reverse()
		unless post.destination === '/'
			div
				a(href="/blog/" + post.destination)
					h3= post.title
				p= new Date(post.date).toString()