extends layout

block content
	h2 Blog
	p Empty posts are placeholders for future writing.

	each post in data.reverse()
		unless post.destination === '/'
			div
				span!= new Date(post.date).toLocaleDateString() + ' &mdash; '
				a(href="/blog/" + post.destination)
					h3(style='display:inline')= post.title
