extends layout

block content
    h2 Contact / Profiles

    p LinkedIn: #[a(href="https://linkedin.com/in/jonlamdev") jonlamdev]
    p GitHub: #[a(href="https://github.com/jlam55555") jlam55555]
    p Stack Overflow: #[a(href="https://stackoverflow.com/users/2397327/jonathan-lam") 2397327]
    p Email: jonlamdev at gmail dot com

