extends layout

block content
    h2 Experience and Awards
    p This page for non-personal projects only. See: #[a(href='/projects') Projects] for more details about specific projects.

    hr
    h3 Work (non-freelance)
    p (More information on these roles is available on #[a(href="https://linkedin.com/in/jonlamdev") LinkedIn]).
    ul
        li Editor Team Software Engineering Intern, MathWorks (2021)
        li MATLAB Instructor, The Cooper Union (2021-2022)
        li EOCC Software Engineering Intern, Express Scripts (2020)
        li CUCC Student Operator, The Cooper Union (2019)

    hr
    h3 Work (web dev, freelance)
    ul
        li SoE EOYS 2021 Website, The Cooper Union (2021)
        li MaG Labs Website, Maroon and Gold Labs (2019)
        li myGUT, RespHealth Product Websites, Maverick Labs LLC (2018-2019)
        li SRRE Web-app, Safe Rides of Redding and Easton (2018)

    hr
    h3 Research
    p (None of these research led to publication.)
    ul
        li "Searching for a more minimal intrinsic dimension of objective landscapes," Prof. Curro (2020)
        li CRUM cooperative traffic model (wrote a visualization tool), Prof. Raja (2019)
        li "Low-cost colorimetric blood glucose test strip", Prof. Raja (2018)
        li "Experimentally determining the total lasting albedo effect of aerosol-seeded clouds based on aerosol particle type," Prof. Nuzzo (2017)

    hr
    h3 School
    ul
        li ARC CS and Mathematics tutor (2020-2021)
        li Peer Mentor (2020)
        li IEEExACM Board member (2019-2021)

    hr
    h3 Awards
    ul
        li Jesse Sherman Book Award, The Cooper Union (2021)
        li Norman E. Perry Internship Award, The Cooper Union (2020)
        li Half-tuition scholarship, The Cooper Union (2018-2022)
        li Weller Memorial Scholarship for Computer Science (2018)
        li PSAT/NMSQT Scholarship Finalist (2018)

    hr
    h3 Competitions and Hackathons
    p (All participated hackathons are listed, as well as awards won, if any.)
    ul
        li ICPC NYGR Regionals, advanced to East Division (2021)
        li ICPC NYGR Regionals (2020)
        li Open Source ERP Hackathon, "ITMine" (2019)
        li HackCooper, content mapper (2019)
        li HackCooper, "Fluorination," Best use of Algolia API (2018)
        li MoMath Hackathon, assorted projects, First Place (2018)
        li SBHacks LHD, "Accelomap," Third Place (2018)
        li Bloomberg Code B, point-scoring bot (2018)
        li StuyHacks LHD, "Fruit Sensei," Best Game (2017)
        li MoMath Hackathon, assorted projects, First Place (2017)
        li LIHacks, "RingTune," Most Entrepreneurial (2016)

    hr
    h3 Miscellaneous
    ul
        li Google Foobar (2021)
        li Cooper Union Ping Pong Club co-president (2018-2020)
        li JBHS Math Team high scorer (2018)
        li JBHS Bowling Team Captain, Varsity (2014-2018)
        li JBHS Cross Country Varsity (2014-2017)
