extends layout

block content
    h2 FAQ
    h3 You're a web developer? Why does your website look like sh*t?
    p I enjoy full-stack development, but not UI/UX. Whatever I try to do never ends up satisfying, so I'll leave it to designers when possible.
    p Simple has its benefits: it's fast, nostalgic (of #[a(href="http://info.cern.ch/hypertext/WWW/TheProject.html") early webpages]), and less distracting.

    h3 Why are the margins so big?
    p See: #[a(href="https://tex.stackexchange.com/questions/71172/") Why are the default LaTeX margins so big?]

    h3 How can I contact you?
    p See the <a href="contact.html">Contact page</a>.

    h3 Code style convention?
    p For JavaScript: #[a(href="https://github.com/mrdoob/three.js/wiki/Mr.doob's-Code-Style%E2%84%A2") Mr.doob's Code Style #[sup &trade;]].
    p For most others (mostly C-family languages): <a href="https://www.kernel.org/doc/html/latest/process/coding-style.html">Linux Kernel style guide</a>.
    p In general, it will most likely depend on the project or the language (#[a(href="https://golang.org/pkg/cmd/gofmt/") gofmt] is a good example of this). When in doubt: agree with your team on an IDE and use the auto-format feature. And when you have a project involving multiple languages: good luck.
    p 80 characters is also a good convention for most code, but gets unreasonable with unstructured data (e.g., markup languages).

    h3 Favorite language(s)?
    p 1) LISP. 2) JavaScript. 3) C.

    h3 Languages you want to learn?
    p 1) Golang. 2) Rust.

    h3 Least favorite language(s)?
    p Python. MATLAB.

    h3 Favorite web framework?
    p Angular.

    h3 Least favorite web framework?
    p React.

    h3 Favorite color?
    p Blue.

    h3 Favorite OS?
    p FreeBSD for experimenting with/learning about the OS.
    p Arch Linux for average screwing around and speed.
    p Debian for overall stability and support.

    h3 PC setup?
    p Desktop: Nvidia GT740. i7-2600. 8GB DDR3. Debian 10 w/ xfce4. 120GB SATA SSD.
    p Laptop: Acer Aspire Spin 3 (~2017?). i7-7500U. 12GB DDR4. Arch Linux w/ xfce4. 256GB NVME SSD.
    p Server (NAS): FreeNAS (FreeBSD 11.3). 4GB DDR3-1600. 8GB DDR4. ZFS mirrored 2x3TB 7.2k SAS.
    p Server (for other shenanigans): FreeBSD 12.1. 4GB DDR3. 120GB SSD.

    h3 Other hobbies?
    ul
        li #[a(href="http://typeracerdata.com/profile?username=jlam55555") typing]
        li bowling
        li reading xkcd
        li the occasional hackathon

    h3 Tell me more about this website?
    p no
