extends layout

block content
	h2 FAQ
	h3 You're a web developer? Why is your website sh*t?
	p From prior experience, I'm not skilled with UI/UX. I'll leave it to the design gurus when possible.
	p This is also a design choice, because simplicity has its benefits:
	ul
		li cheap on network data and processing power (see: #[a(href='https://developers.google.com/amp') Google AMP])
		li brings on the nostalgia of #[a(href="http://info.cern.ch/hypertext/WWW/TheProject.html") the web when it was cool]
		li less distracting (naturally minimalist?)
		li relatively mobile-friendly
		li this website runs on anything (like NetBSD, but on browsers -- this looks great on #[a(href='https://en.wikipedia.org/wiki/W3m') w3m]!)
	p While SPAs are great, I think they're starting to become an anti-pattern as they become the norm, even and especially for small academic projects that would do better with much less. Thus I regress.

	h3 Why are the margins so big?
	p See: #[a(href="https://tex.stackexchange.com/questions/71172/") Why are the default LaTeX margins so big?]

	h3 How can I contact you?
	p See the <a href="/contact">Contact page</a>.

	h3 Code style convention?
	p For JavaScript: #[a(href="https://github.com/mrdoob/three.js/wiki/Mr.doob's-Code-Style%E2%84%A2") Mr.doob's Code Style #[sup &trade;]].
	p For most others (mostly C-family languages): <a href="https://www.kernel.org/doc/html/latest/process/coding-style.html">Linux Kernel style guide</a>.
	p In general, it will most likely depend on the project or the language (#[a(href="https://golang.org/pkg/cmd/gofmt/") gofmt] is a good example of this). When in doubt: agree with your team on an IDE and use the auto-format feature. And when you have a project involving multiple languages: good luck.
	p 80 characters is also a good convention for most code, but gets unreasonable with unstructured data (e.g., markup languages).

	h3 Favorite language(s)?
	p 1) LISP. 2) JavaScript. 3) C.

	h3 Languages you want to learn?
	p 1) Golang. 2) Rust.

	h3 Least favorite language(s)?
	p Python. MATLAB.

	h3 Favorite web framework?
	p Angular.

	h3 Least favorite web framework?
	p React.

	h3 Favorite color?
	p Blue.

	h3 Favorite OS?
	p FreeBSD for experimenting with/learning about the OS.
	p Arch Linux for average screwing around and speed.
	p Debian for overall stability and support.

	h3 PC setup?
	p Desktop: Nvidia GT740. i7-2600. 8GB DDR3. Debian 10 w/ xfce4. 120GB SATA SSD. Some average Dell keyboard.
	p Laptop: Acer Aspire Spin 3 (~2017?). i7-7500U. 12GB DDR4. Arch Linux w/ xfce4. 256GB NVME SSD.
	p Server (NAS): FreeNAS (FreeBSD 11.3). 4GB DDR3-1600. 8GB DDR4. ZFS mirrored 2x3TB 7.2k SAS.
	p Server (for other shenanigans): FreeBSD 12.1. 4GB DDR3. 120GB SSD.

	h3 Other hobbies?
	ul
		li #[a(href="http://typeracerdata.com/profile?username=jlam55555") typing]
		li bowling
		li reading xkcd
		li the occasional hackathon

	h3 Reading list?
	p #[a(href='/readinglist') OK]

	h3 Tell me more about this website?
	p #[a(href='/blog/1/') OK.]

	h3 Strange website issues?
	p If the webpages look inconsistent (e.g., the navbar is different between pages), this is likely due to caching by the Fastly CDN. Sit tight for a few minutes or (for the impatient) add a query parameter. There shouldn't be any other errors except 404, since everything is static. (This is not true of the <code>eis</code> and <code>files</code> subdomains -- please contact me if you see errors on those sites.)
	p If in doubt, feel free to #[a(href='/contact') contact me].
