extends layout

block content
	p Hi! I'm a student and software developer based in the NYC region. Currently pursuing a B.Eng. and M.Eng. in Electrical Engineering at #[a(href="http://cooper.edu") The Cooper Union for the Advancement of Science and Art] with a primary interest in OS and compiler design.
	p I will be interning at Mathworks (the creator of MATLAB) this summer!
