extends layout

block content
  p Hi! I'm a student and software developer based in the NYC region. Currently pursuing a B.Eng. and M.Eng. in Electrical Engineering at #[a(href="http://cooper.edu") The Cooper Union for the Advancement of Science and Art] with a primary interest in the theory of programming languages and their implementation (compilers), followed closely by operating/distributed systems.

  p Currently employed at the Cooper Union as a computer center student operator, CS tutor, and MATLAB instructor. Recently interned at MathWorks and Cigna for SWE.

  p Recent ViM to Emacs convert. Four handshakes from Napoleon. LISP-er interested in Haskell. Can't handle strong foods.

  p #[a(href='/res/me.jpg') A small picture ID.]

  hr
  h3 Site Index
  p The "index" in index.html... (and because the navbar is only so wide)
  ul
    li #[a(href='/blog') Blog] (current)
    li #[a(href='/contact') Contact]
    li #[a(href='http://eis.lambdalambda.ninja') EiS] (old blog)
    li #[a(href='/experience') Experience]
    li #[a(href='/faq') FAQ]
    li #[a(href='http://files.lambdalambda.ninja') Files] (public fileserver: schoolwork and stuff)
    li #[a(href='/projects') Projects]
    li #[a(href='/readinglist') Reading list]
    li #[a(href="/res/resume.pdf" target="_blank") Resume]
    li #[a(href='/tutoring') Tutoring]
