extends layout

block content
    p Hi! I'm a student and software developer based in the NYC region. Currently pursuing a B.Eng. and M.Eng. in Electrical Engineering at #[a(href="http://cooper.edu") The Cooper Union for the Advancement of Science and Art] with a primary interest in OS and compiler design.
    p I will be interning at #[a(href='https://www.mathworks.com/' target='_blank') Mathworks] (the creator of MATLAB) this summer!

    hr
    h3 Site Index
    p The "index" in index.html... (and because the navbar is only so wide)
    ul
        li #[a(href='/blog') Blog] (current)
        li #[a(href='/contact') Contact]
        li #[a(href='http://eis.lambdalambda.ninja') EiS] (old blog)
        li #[a(href='/experience') Experience]
        li #[a(href='/faq') FAQ]
        li #[a(href='http://files.lambdalambda.ninja') Files] (public fileserver: schoolwork and stuff)
        li #[a(href='/projects') Projects]
        li #[a(href='/readinglist') Reading list]
        li #[a(href="/res/resume.pdf" target="_blank") Resume]
