doctype html
html
	head
		title jlam | #{title}
		style.
			html {
				box-sizing: border-box;
				margin: 0;
				padding: 0.5rem;
			}
			body {
				max-width: 400pt;
				margin: 0 auto;
				padding: 0;
			}
		link(rel='icon' href='/res/favicon.png')
		meta(name='viewport' content="width=device-width, initial-scale=1.0")
	body
		h1 Jonathan Lam
		p EE/CS @ The Cooper Union
		nav
			a(href="/") Home
			= " | "
			a(href="/faq") FAQ
			= " | "
			a(href="/contact") Contact
			= " | "
			a(href="/projects") Projects
			= " | "
			a(href="/experience") Experience
			= " | "
			a(href="/res/resume.pdf" target="_blank") Resume
			= " | "
			a(href="http://files.lambdalambda.ninja") Files
			= " | "
			a(href="/blog") Blog
			= " | "
			a(href="http://eis.lambdalambda.ninja") EiS
		hr

		block content

		hr
		p &copy; Copyright 2021 Jonathan Lam
