extends layout

block content
    h2 Reading List
    p I.e., the list of "seems like it'll be useful but I'll probably be too busy to ever get around to reading these for real." Some of these are books I own.

    ul
        li SICP (Wizard Book)
        li Dragon Book
        li FreeBSD Handbook
        li R6RS or R7RS
        li RE4B
        li CP book
	li Phil Oppermann's osdev guide
	li CTCI
        li Modern Operating Systems, 2nd Edition (not modern anymore, but I have a hardcopy)
        li Algorithm Design (I should've read an algorithms book like this a long time ago)
        li Algebra for Applications (wow a math book made it on this list)
        li TAOCP (long-term goal)

    hr
    h3 Books I've actually read (more or less cover-to-cover)
    ul
        li Thomas's Calculus, 12th edition
        li K&R

    hr
    h3 Miscellaneous: skills to learn
    ul
        li Typing (I just like to type)
            li Colemak (DH mod) (speeeeeed)
            li Dvorak LH (so I can fulfill the unnecessary dream of dual-wielding [keyboards], or just writing with my right hand)
        li Programming languages to conquer
            li Assembly (x86_64/ARM/RISC V)
            li Scala (seems like a good general-purpose language)
            li Rust (lots of cool features, very fast)
            li Go (lots of cool features, very fast development)
            li Haskell (pure functional)
            li CL/elisp (a lot of testimony makes this out to be the "most powerful" languages)
            li Emacs/SLIME (due to the above); also Geiser (like SLIME but for Scheme)
            li JavaScript (this language grows too friggin fast, can't keep up with it)
