extends layout

block content
  h2 Schedule/Availability

  p (Primarily for CS tutoring.)

  p I will often be available for calls/tutoring in the following times. Early mornings/late nights/weekends may be more prone to video calls.
  
  table
    tr
      th Monday
      td 9-11AM, 12PM-6PM
    tr
      th Tuesday
      td ---
    tr
      th Wednesday
      td 12PM-9PM
    tr
      th Thursday
      td 9AM-6PM
    tr
      th Friday
      td 9AM-9PM
    tr
      th Weekends
      td if necessary
