extends layout

block content
  h2 Tutoring
  p I am a CS tutor and MATLAB instructor. Come to me with questions about MATLAB seminar, CS102, ECE160, DSA I/II, AI, OS, any of the machine learning classes, compilers, etc.

  p
    small (May also be able to do some math or general EE tutoring in a pinch.)

  hr
  h3 Contact
  p lam12@cooper.edu (email or Teams chat)

  hr
  h3 Schedule
  p I will often be available for calls/tutoring at the following times. Teams calls may be easier on early mornings/late nights/weekends, but I'll try to be in-person when possible.
  
  table
    tr
      th Monday
      td 9-11AM, 12PM-6PM
    tr
      th Tuesday
      td ---
    tr
      th Wednesday
      td 12PM-9PM
    tr
      th Thursday
      td 9AM-6PM
    tr
      th Friday
      td 9AM-9PM
    tr
      th Weekends
      td if necessary

  hr
  h3 Why?
  p Been coding for a long time. Trying to indoctrinate people (for almost as long) in Linux, ViM/Emacs, and Lisp. I live in Emacs for much of the day.

  p My primary academic interest are the space of programming languages, compilers, and operating systems. I am currently pursuing a M.Eng. in programming education. Need subjects for observation. #[sup (Only somewhat joking.)]
