extends layout

block content
  h2 Tutoring
  p I no longer am a student nor am employed by the Cooper Union. However, I have a vested interest in CS pedagogy and am open to chatting about potential tutoring arrangements.

  hr
  h3 Why?
  p Been coding for a long time. Trying to indoctrinate people (for almost as long) in Linux, ViM/Emacs, and Lisp. I live in Emacs for much of the day.

  p My primary academic interest are the space of programming languages, compilers, and operating systems.

  hr
  h3 Resources
  ul
    li #[a(href="/blog/45") On code reuse and copy]
    li #[a(href="/blog/44") Advice for college freshmen from a college senior] (not limited to CS students)
