extends layout

block content
  h2 Tutoring
  p I am a CS tutor and MATLAB instructor. Come to me with questions about MATLAB seminar, CS102, ECE160, DSA I/II, AI, OS, any of the machine learning classes, compilers, etc.

  p
    small (May also be able to do some math or general EE tutoring in a pinch.)

  hr
  h3 Contact
  p lam12@cooper.edu (email or Teams chat) or FB Messenger

  hr
  h3 Schedule
  p I will #[em most likely] be available for tutoring in-person at these times. Of course, the larger the advance, the more likely I'll be available. If these hours don't work, feel free to email or contact Brian Chung, the other CS tutor. In-person meetings will generally be in in the ICE lab (NAB 603).
  p On the weekends and outside of these hours, I may be available for in-person or virtual. Feel free to contact me throught the channels listed above!
  
  table
    tr
      th Monday
      td 12PM-6PM
    tr
      th Tuesday
      td --- busy ---
    tr
      th Wednesday
      td 12PM-7PM
    tr
      th Thursday
      td 11AM-5PM
    tr
      th Friday
      td 11AM-7PM

  hr
  h3 Why?
  p Been coding for a long time. Trying to indoctrinate people (for almost as long) in Linux, ViM/Emacs, and Lisp. I live in Emacs for much of the day.

  p My primary academic interest are the space of programming languages, compilers, and operating systems. I am currently pursuing a M.Eng. in programming education. Need subjects for observation. #[sup (Only somewhat joking.)]

  hr
  h3 Resources
  ul
    li #[a(href="/blog/45") On code reuse and copy]
    li #[a(href="/blog/44") Advice for college freshmen from a college senior] (not limited to CS students)
