p Hello, world! This is a test blog post using the improved build script.

p We can put arbitrary HTML here from a pug template! Yay!

p E.g., we can easily include the MathJax script and have some pretty \(\TeX\) code in our post. (Example below from the MathJax demo.)

p When \(a\ne0\), there are two solutions to \(ax^2+bx+c=0\) and they are: \[x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}\]

script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
script(id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")