include ../mixins/codestyle

p Notes for my own reference. I don't like pip (I prefer npm with its implicit local environments and don't find any of the following command names particularly intuitive) but had to use it for a group project today.

h4 Virtual environments:
pre
	code(class='language-bash').
		# creating virtual environment in venv/
		python -m venv venv

		# activating venv
		. venv/bin/activate

		# deactivating venv
		deactivate

		# destroying venv
		rm -rf venv

h4 Saving/restoring dependencies
p Make sure you're in the venv when doing these.

pre
	code(class='language-bash').
		# freezing dependencies
		pip freeze >requirements.txt

		# installing dependencies
		pip install -r requirements.txt