extends blogpost

block post
	p A follow-up from the #[a(href='/blog/21') previous post]...
	+imglink('22_jlam55555colemak_2000.png', 'Plot of 2000 races wpm over race #')
	+imglink('22_jlam55555colemak_2000_time.png', 'Plot of 2000 races wpm over time')
	p Changes since then:
	ul
		li I have switched to using only left #[kbd Shift], and it feels pretty natural now. As I thought when initially switching, it is #[em much] better for typing words or phrases in all caps.
		li I haven't gotten the hang of right thumb. I still always use left thumb.
		li I always use left pinky for #[kbd Ctrl], #[kbd Shift], and #[kbd CapsLck], which is a lot of characters. As such, I've been trying to use left ring finger for #[kbd CapsLck] and #[kbd Tab] (I've never used pinky for tab anyways), or at least some combination of ring and pinky finger for #[kbd CapsLck]. (Maybe first keypress with pinky and successive ones with ring finger?)
		li My muscle memory is still pretty bad. I have to think about a lot of the keys before I type them, especially as I'm reading text.
		li I've heard opinions from other people in the Discord that ergonomic keyboards are no good at all for type racing. Standard keyboards are just as good. I think I agree, but the ergonomic layout still feels nice (that is what it's supposed to accomplish anyways).