extends blogpost

block post
	p These three are topics that seem to be fundamental in functional programming (at least from my limited experience in Haskell and Scheme) but somewhat foreign in an imperative context.
	
	p There are already plenty of explanations out there on the web, but I wanted to write down the things I found hardest to understand in a simple way.#[+footnote Another concept I could add to this list is laziness, which has enormous implications but the and motivation for which is intuitive.]

	hr
	h4 Continuations
	p TODO: talk about gotos and return statements

	hr
	h4 (Structural) Macros
	p TODO: talk about hygiene

	hr
	h4 Monads
	p TODO: talk about I/O, maybe
	p TODO: talk about optional control flow and return values
	p TODO: talk about expression containers