extends blogpost

block post
  p The first time I've been out with friends since COVID lockdown. We went to a mall. I want to complain about two small things.
  
  p Firstly, push/pull doors. The standard design with flat plates on one side and a pull handle on the other is very simple and intuitive. But if you have the handle on both sides but one side is push (and it's not labeled) and the other is pull, it's not elegant. Apparently this is common enough to have a name -- the Norman door.

  p Another was the bathrooms. This is embarrassing and probably my fault, and it's been weighing on my mind since I've went what would've happened if there was anyone in the bathroom at the time. There is a big sign for bathrooms and an open bathroom door right in behind the sign. However, I didn't notice that there was a hallway to the side and a second bathroom on the right. I was probably looking at my sign and missed the much-smaller "Women's" sign#[+footnote The fact that there were only stalls should have been a red flag in my head, except for two reasons: our school has gender-neutral bathrooms and I thought maybe this trend was expanding; and I haven't been to public bathrooms for essentially two years and more or less forgot what is the norm. I remember being confused that there only appeared to be one bathroom, and even looked down the hall, but I couldn't see the "Men's" sign down the hall.]. The second time I used the bathroom in the mall, I saw the sign, much to my alarm.

  +imglink("31_bathrooms.png", "Map of the bathrooms")

  p In this case, I'm sure it's partly my fault for not paying attention at the critical moment, but I have to say that it's very easy to miss the sign if one bathroom is placed right in front of the bathrooms sign. For the mindless like me, it's easy to assume the destination is straight ahead and not in the side hallway.
