extends blogpost

block post
	p #[strong Update 9/6/21]: This was a placeholder post when I reached 3000 races, but 3000 isn't a particularly special number and I didn't have much to say anyways. Not deleting this for the sake of preserving post numbers.

	p See the surrounding posts.
	ul
		li #[a(href="/blog/22") 2000 races in Colemak]
		li #[a(href="/blog/36") 5000 races in Colemak]
