extends blogpost

block post
	p TODO: currently a brain dump space

	p lhs pattern matching of constructors
	p two-tier type hierarchy (data and type constructors, classes, method overloading), strict typing
	p quicksort
	p monads (IO, Maybe, ST) (also list comprehension with bind-like syntax)
	p lift
	p laziness ofc -- referring to self on both sides, if as a regular fn, automatic currying
	p hoogle
	p documentation is great, ghci is great

	p reasons not to love haskell:
	p syntax is difficult (indentation, let/where), builtin names not intuitive at all
	p community is hard to understand
