extends blogpost

block content
	h3 Programming languages

	p Not meant to be comprehensive or exact. I enjoy working with different programming languages and thought it would be fun to illustrate history visually. Created using #[a(href="https://timeline.graphics") timeline.graphics]. Click on the image to open it in a new tab.

	p
		a(href="/res/coding_timeline.png" target="_blank")
			img(src="/res/coding_timeline.png" title="Timeline of programming languages. Click to open in a new tab." alt="Timeline of programming languages. Click to open in a new tab." style="max-width:100%")

	p Languages above the time axis are directly related to school, ones below the time axis are not. Shaded vertical regions indicate the main OS(es) of a time period.

	p Legend:
	ul
		li Beige: low-level/OS
		li Blue: web-related
		li Orange: Lisp
		li Purple: app-related
		li Red: data science/quantitative
		li White: miscellaneous
