extends blogpost

block post
  p This post is broken up into two mostly-disjoint sections.

  hr 
  h3 5000 races in Colemak
  p Follow-up to:
  ul
    li #[a(href="/blog/33") 3000 Races in Colemak]
    li #[a(href="/blog/22") 2000 Races in Colemak]
    li #[a(href="/blog/21") 1000 Races in Colemak]
  p Progress has remained remarkably consistent. Most of my races are done on an old Dell Latitude keyboard (more on that later) and I can average about 120wpm over a long typing session (without quitting races).
  +imglink("36_jlam55555colemak_5000.png", "WPM vs. race number")
  +imglink("36_jlam55555colemak_5000_time.png", "WPM vs. time")

  p Some typing observations:
  ul
    li Curling your fingers is very important! It improves speed and reduces fatigue. (This is the first tip for pianists as well, but I am able to notice the effect here. It is also not natural without practice -- flat fingers are very tempting and intuitive.)
    li My keyboard preferences have changed. In the time since the previous post, I've been able to type on a number of keyboards:
      ul
        li Acer Spin 3: chiclet membrane
          +imglinkext("https://laptopkeys.com/uploads/2308_1510361603_aaccasd.jpg", "Acer Spin 3 keyboard")
        li Dell Latitude E5420: membrane (?) tenkey-less (and easily serviceable!)
          +imglinkext("https://m.media-amazon.com/images/I/614NSZt1QJL._AC_SY450_.jpg", "Dell Latitude E5420 keyboard")
        li Perixx Periboard 512: rubber-dome full-size ergonomic
          +imglinkext("https://m.media-amazon.com/images/I/71CwCjbgcbL._AC_SX679_.jpg", "Perixx Periboard 512 keyboard")
        li Assorted generic school keyboards
      span I've been the most comfortable typing on the Dell Latitude keyboard. I think I like the extra key travel over the chiclet-style (or scissor-style) keyboards on most newer keyboards. I also don't need the numpad (although the E5420 keyboard has it on top of other keys with the #[kbd Fn] key pressed.) I think that the lighter keypresses of the Spin keyboard also tempts me to go all-out in speed, which quickly tires out my fingers#[+footnote As an analogy, imagine trainer shoes versus racing shoes. I can likely go a little faster on the Spin keyboard in the short term, but it isn't as comfortable and tires me out quickly.]. The full-size Periboard keyboard is also comfortable and has a larger key travel, but I haven't practiced much on it. I think my speed would be slightly lower simply because my hands have to stretch further. Of course, the generic membrane keyboards at school are generally pretty terrible -- the keypresses are heavy and the layout simple and uniform.
      span The Spin keyboard sounds clackier, whereas the Latitude sounds more springy and muted. Both are about the same volume. The Periboard is a little louder than the laptop keyboards but its sound is pleasant.
    li Prioritize accuracy (over speed). For the same text, a one percent accuracy improvement (disregarding other factors) roughly corresponds to a 5-10wpm improvement.
    li Don't quit races. It is tempting for me to quit slow races, but it forces you to practice inconvenient or unfamiliar key sequences. Of course, this may temporarily lower your typing average, but it will definitely help in the long run.
    li Repeating texts is an important part of practice. Much of my improvement comes from repeating races. This allows you to both read further ahead and use muscle memory for learned key combinations. I'm pretty consistently able to reach higher speeds (at the same accuracy) when repeating texts.
    li Mechanical keyboards .............? Still a mystery.

  hr
  h3 Keyboard repair
  p For college, I've decided to mostly use the Dell Latitude rather than the Acer Spin. The Spin is newer, uses less power, has a higher-resolution screen, doesn't have touchpad problems, has better RAM, has a camera, has USB3, and has a good battery life; but the Latitude has a much better build quality (including the keyboard quality and serviceability, as we'll soon see), better thermals, and is not noticeably slower for everyday tasks#[+footnote #[a(href="https://browser.geekbench.com/v5/cpu/compare/1289390?baseline=9624690") Benchmarks] suggest otherwise, but Emacs and web browsing feel the same if not snappier on the Latitude.].

  p As a result, I took to upgrade the RAM from the 2x2GB 2133MHz DDR3 to 2x8GB 2400MHz. I was able to get the new RAM for $40 on eBay and install it without a hitch. Within the next day, my keyboard started glitching -- keyboard events would get dropped intermittently for the duration of anywhere from a split second to several seconds at a time. Sometimes the key would get stuck on repeat, as if the keyup event was dropped (and it turns out, this was the problem.) Interestingly, it became more and more frequent over time, to the point where it was unbearable after three days (at which I tried to troubleshoot in earnest.)

  p Of course, the first suspect was the RAM. But after trying various combinations of the RAM, including using the old RAM, the problem persisted.

  p Maybe it was a kernel issue? No issue showed up in syslog. Maybe it was a software issue? My packages were up-to-date. Maybe an X.org or evdev issue? #[code evtest] simply didn't show the events, which means that events were really being dropped.

  p If it was a hardware issue, I could try an external keyboard, but I didn't have one at hand (due to my current college living situation).

  p In a last-ditch effort, I thought I might try to debug the keyboard to check for a loose connection or short. The keyboard is fairly easy to remove on the Latitude. There was no loose connection. And then...

  p When the keyboard was not clicked into its slot, it worked normally!

  p After a half-dozen trial-and-error iterations of partially slotting the keyboard, I was able to identify that when the part of the keyboard closest to me touches the metal frame, the problem occurs, which probably indicates some sort of shorting condition. I was able to cover up the problematic metal contacts with paper, and my keyboard is working fine now!

  p The only question that remains is why this began right after the RAM replacement, and why it became more frequent over time. My only guess is that with the many typing races, there may have been some bending of the keyboard. (The keyboard is indeed malleable, as I discovered when removing it.) It's possible that the RAM replacement process catalyzed the bending.

  p Why am I sharing this story? It was one of the few computer-hardware troubleshooting successes I've had, and I think it was a good example of asking questions to troubleshoot.
