extends blogpost

block post
  p Quotes without context. Not always because they are true (as some aren't), but because they stuck out to me and are probably interesting in one way (or two).
  p I would like to include many interesting quotes from TypeRacer, but there are too many. Instead, here is a curated collection from my own experiences.
  ul
    li "Nothing counts." Prof. G.
    li "The mere presence of the idea was an irresistable proof of the fact." Mary Shelley, #[em Frankenstein].
    li "We should have a whole course question-asking." Prof. G.
    li "Jim Carrie terrifies me without a mask, I don't know why I'd watch a movie when he does wear one." Prof. G.
    li "The migration of electronic elephants in a space close to home." Prof. G.
    li "At this point I cannot digest much due to lack of knowledge. Will continue my study. Thanks guys." #[a(href="https://stackoverflow.com/questions/33089168/what-do-the-numbers-mean-in-the-preprocessed-i-files-when-compiling-c-with-gcc#comment54001432_33089349") Conan].
    li "With any tool, knowing when it's the right tool for the job is what makes you the artisan." #[a(href="https://forum.allaboutcircuits.com/threads/vbe-ic-equations.87102/#post-626391") Wayneh].
    li "It's not how many projects you start; it's how many you finish. ... If you only do one big thing a year, but you do that for 30 years, you can get a lot of things done." David Patterson, #[em A New Golden Age of Computer Architecture].
    li "The complaints people have about things can be quite informative ... so complaints are good." Prof. C.
