extends blogpost

block post
  p #[strong Update 12/20/21]: I'm not really sure what I was going to say here. At this point I've just finished the independent study on program analysis. A brief summary can be found #[a(href='/blog/49') here].

  p I am interested in using Agda, which we covered in the Program Analysis class, to re-prove some material from math classes. If I get around to it, I'll write about it.
