extends blogpost

block post
  p School's over, and it's almost Christmas!

  p My mind is in a haze. There's still too much information to process. So many things happened this semester, and I've thought so many thoughts that are not nailed down anywhere -- with time, they will fade, so I feel that I must write.

  p My goal for this winter break are three things: work on my Master's thesis, write a lot (and maybe read a lot as well), and exercise. Notably, I'm trying my best to keep away from starting new projects, because then they'll end up getting lost in this slowly dissolving brain soup.

  p The first thing to do is to talk about some of the things (projects, work, hobbies, and other shenanigans) that went on this semester; I'll cover this in the next post. Then to fill in the placeholder posts#[+footnote At the moment, there are six placeholder posts: "The art of being direct," "Emacs-centric," "Intentional programming for programming education," "First thoughts on program analysis," "Falling in love with Haskell," and "VEIKK v3 driver notes (again)"]. Then to get writing on all the other tidbits of thought this semester.

  p The other exciting thing is that I had some other students come up to me and start the conversation with "Hey Jon, I looked at your blog and was intrigued by x post." It makes me very happy if people read this and get something out of it! It's made me consider adding a comments section (e.g., using Disqus) to encourage discussion, but (as previously mentioned) I don't want to start something new this break. That being said, popularity or attention is not my primary goal, but rather to iron out a lot of my thoughts through the process of writing.

  p Onwards!
