extends blogpost

block post
        p On January 20th, 2023, one week ago (or one week after an ominous Friday-the-13th), I was laid off from Google. My dream company. 12,000 of my coworkers met the same fate, and it seemed that the selection was both final and far-reaching, even hitting very senior employees. I have only worked at Google since August, though, so it's less surprising there.

        p I wanted this blog post to focus not on the layoff itself: neither specifics of the layoff nor the politics. You can find that elsewhere. Rather, I wish to focus on the process that comes afterwards. Hindsights, feelings, and most importantly, the support from others -- these are the parts of the layoff that were "real" to me and what I want to document. Of course, some specifics regarding the layoff itself are important, but they are not the primary focus.

        p I was also deliberate in avoiding doing or writing much for a week, in order to prevent myself from doing or writing rash things out of raw emotion. Luckily, I accepted the reality of the layoff pretty much from the beginning, so there wasn't much need to hold back.

        p Before I give my current outlook on the matter, I'd like to summarize the events of the past week for context.

        hr

        h4 A brief chronology

        h5 Day 0: A good day for biking (01/20/2023)

        p I was periodically checking my work laptop throughout the evening before (Thursday) to see if a long-running job had finished. When I woke up on Friday, I went to check it again. It was strange that my work laptop had restarted. When I couldn't login normally, I realized something was off. Then I checked my email. Then I checked the news. Then I sent a message to my family.

        p The timing of the layoff was completely a surprise, although the idea of a mass layoff had been in the air for some time. There was some level of anticipation and worry about layoffs. It depended on who you were talking to, and Nooglers were the most chatty, but of course not through the internal channels. Within our team, we chatted over lunch about news of layoffs at other big tech companies such as Meta or Amazon, and hoped we were not next. From what I can tell, my manager also did not know about the layoff, or at least the specifics and who would be impacted, until after it happened.

        p Many have said the layoff felt "cold." Google cut off all our access to internal systems and to the buildings without warning. I didn't think about how layoffs happened in other companies, but it makes sense given how a distressed employee could ravage infrastructure. I'm not particularly offput by the rude treatment because of the necessity of it all.

        p I set up an urgent one-on-one with my manager, and checked in with my close friend Q from work. Luckily, no one else from my immediate team was impacted. I could tell from calling Q and my manager that they were both more devastated than I was. Honestly, I was already feeling pretty indifferent to it all, but perhaps my mind was numb at this point.

        p I decided to relax for the afternoon and the weekend. I installed new bar tape and redid some of the brake cabling on my bike, and went biking. At some point, my family called -- I thought they called to console me, but they were calling from the hospital because an elderly family member is in the hospital and doesn't have much time left. It was a sobering moment that reminded me the many ways in which I was already very fortunate. Despite their situation in the hospital, my family still assured me that layoffs are not the fault of the employee and that there are many opportunities to come.

        h5 Days 1-2: More biking and the CNY weekend

        p I spent the next morning biking and chatting with Q. We talked about future options and good times from work. In the afternoon I did some chores with my roommate J. We had a few friends on Sunday afternoon for Chinese New Year. I called my family and heard about their celebrations back in New York. At this point, no one outside of my atomic family and team at Google knew about the layoff, as I didn't want to dampen any celebrations. I finally told my roommates about the layoff after the celebration.

        h5 Days 3-4: Waves of support

        p I spent some of this time updating my resume, LinkedIn, and website with the most relevant details. To me, this is somewhat fun and rewarding -- it gives you a chance to reflect on your past accomplishments and frame them. To detail the impact you made on the world.

        p Around this time, a number of people reached out to me. Family, friends, and coworkers, some of whom I haven't talked to in a while, reached out and expressed sympathies. My tech lead G gave me a call and we chatted for a long time about jobs and went on long tangents about the state of the world. My cousin L offered to help with programming interview practice problems. My classmate A, also at Google, gave me some advice and referred me to several recruiters. J helped me look for jobs at his company. And so on and so forth. For an introvert, it was almost overwhelming -- the amount of mental energy needed to start or maintain conversations is not something I usually have. But, given the situation and how others reached out to me first, I was very happy to know that so many people in my life were supportive when something like this happens.

        h5 Days 5-6: Revisiting Leetcode

        p My goal since the day of the layoff was to get ready for another role right away. I went to practice some interview-type programming questions at this time, even though I haven't directly applied to any jobs yet. Algorithms questions were both frustrating and rewarding as always, and they helped get my mind off of the layoff without feeling unproductive. I went through quite a few problems. As I mentioned earlier, my cousin L helped me by giving feedback on some problems.

        p My sister had her software internship offer rescinded on Thursday, which prompted me to think about the ways I can help her in the same way others have helped me.

        h5 Day 7: Tying up loose ends (01/27/2023)

        p My goal for today was to reach back out to others, both within Google and without. For me, reaching out is an unusual and tiring task, even to friends and familiars, but only now I understand now how much it means to stay connected and check in on others. This morning, I spent some time reaching out to some other coworkers of mine. Afterwards, I spent some time writing this blog post and writing a post on LinkedIn about the layoff and my current #OpenToWork status.

        hr

        h4 Current outlook

        p One of the major themes from the past week is the amount of support I've received from others. This is from coworkers, extended family, and friends from school. It's not only the quantity of the support, but also the quality. I've received much unsolicited (but not unwanted) solid advice and offers for interview practice -- time asklessly spent on their behalf for me.

        p In part due to this support, I'm fairly optimistic about the process of starting anew. After chatting with others, I've reasoned that this is a fortunate outcome for me in many ways. If the word "fortunate" is too optimistic here, then perhaps this list can be titled #[em Reasons why I'm not sad to leave Google].
        ul
                li #[b Location] Since starting work, I've wanted to return to the east coast near family. The main reason is to be closer to family, especially if an emergency comes up. Being in a long-term project in a role that I loved, I didn't see much possibility of moving back to the east coast if things continued the way they did.
                li #[b Exploring other roles] Similar to the first point, I didn't see myself moving around to explore other roles in the industry if I kept my role. This layoff forces me to do so. Similarly, I am less than a year out of college, so I can look for more flexible early-career roles.
                li #[b Severance benefits] Google is known for their world-class compensation, and I'm very fortunate that it supports me while I continue to look for another role. (This is unlike some of the horror stories I've heard from G about layoffs he's experienced.)
                li #[b Leaving on good terms] When I was talking to A, he spoke of the people affected by the layoff as being more akin to "graduates" than people who were fired. I feel the same way, and the network of connections that I've built here will not disappear. Also, this does not leave out the possibility of being re-hired to Google if the opportunity arises in the future.
                li #[b US citizenship] I'm not on a work-sponsored visa like the H-1B. Unfortunately, this is not the case for some affected Googlers, and this makes their job-finding situation much more dire.

        p Of course, I also have had the fortune of being able to work for Google, which has many benefits. It's a shame I don't have access to these benefits or perks anymore, but they led to a positive experience and will shape my perspective when looking for future work opportunities. This list can be called #[em Reasons why I enjoyed working at Google].
        ul
                li #[b People and culture] If I had to choose one thing that I loved most about Google, it's definitely the type of people they look for and the culture that they generate. I loved working with everyone on my team, much more than I had anticipated going into the job. This is similar to why I loved the Cooper Union -- despite being small in size resources, the people of Cooper were by and large hardworking and good people and they form a tight-knit community.
                li #[b Location] I get to experience California! (With its amazing weather!) And the world-famous Googleplex!
                li #[b Perks] The Google workplace is a place of abundance. The free food will definitely be missed.

        p Putting together #[em Reasons why I enjoyed working at Google] and #[em Reasons why I'm not sad to leave Google], we get #[em Reasons why I'm glad I worked at Google]. This sums up my current amount of optimism.

        p Put another way, I've imagined how I would answer to the following hypothetical, if posed to me before I applied to Google.
        blockquote
                p
                        em If you could work for Google for a few months (in the vacation-like California weather no less), before getting laid off by surprise (but without fault) and forced to find another job, would you still take the job?
        p I'd imagine that the answer would be #[em yes] without hesitation.
        p For now: Onwards and upwards!

        hr

        h4 Postscript

        h5 A note on toxic positivity and LinkedIn
        p After reading this, you might be asking: #[em Is there a lesson here (for the reader)?] Is this another example of #[a(href="https://en.wikipedia.org/wiki/Toxic_positivity") toxic positivity]? Or, is it a faux demonstration of a positive personality to lure in future recruiters?

        p I assure you that the emotions I write of are genuine, and the reasons for my positivity are clearly listed above. And regarding the point on toxic positivity, this post is not meant as a motivational post, but more of an update on my life and my intentions. This is partially to record for myself this unexpected turn in my life, and partially for those acquainted with my life that I'm doing alright. By no means am I saying that others in my position should feel positive about being laid off, or assuming that others who were laid off are in a similar situation to me in the first place.

        p Previously, I've never liked the LinkedIn feed for this reason -- it always seems too full of "influencers" looking to share their motivational success stories. This has made me always reluctant post on LinkedIn. But recently my feed is full of Google employees affected by the recent layoffs. These posts are to-the-point and clearly reflect where a person's experience lies and that they are open to work. This has changed my perception of the LinkedIn feed, and has encouraged me to reach out in the same manner#[+footnote I saw #[a(href="https://www.linkedin.com/feed/update/urn:li:activity:7024767829325344768/") this post on LinkedIn by Cameron Murray] that outlines what you should do on LinkedIn after you are laid off, including what to include in a "I was laid off post." It seems like pretty solid advice to me.].

        h5 Future directions for this blog
        p It's been a little over a year since I last wrote to this blog (12/18/2021). That was just before spring semester of senior year, when I was fairly busy and stressed. It was also just before I received the offer for Google (which was just before Christmas).
        p There's a lot I've been meaning to write about, but I haven't found the time or motivation to get around to it. Similarly, I've had some issues with motivating myself to work on personal projects outside of work. I hope that the recent change in plans gives me the push to get around to both writing and new personal projects.
        p As a sneak peek, I've gotten into road biking and restoring vintage fountain pens in the last year! And I want to begin a self-written OS project using the materials from OSDev Wiki. So expect future posts about these topics.
