extends blogpost

block post
  p Post is a work in progress.
  p Summary

  hr
  h4 Flip buffers
  p Understanding the problem
  h5 Overview of flip buffers
  p Relationship to triple-buffering
  h5 Extending past two

  hr
  h4 Line (ring)buffer
  p Understanding the problem
  h5 Commit head and tail
  h5 Canonical head

  hr
  h4 In the Linux kernel

  hr
  h4 Resources
  p O'reilly book
