extends blogpost

block post
  +codestyle

  p Another brain dump post to help me empty my brain.

  hr
  h4 Bamboo & mother's day
  p My grandma loves to pick the bamboo shoots that grow in our backyard#[+footnote Interestingly, CT and NY are the only states that have passed laws about bamboo, at least #[a(href="https://www.landscapemanagement.net/government-affairs-the-bamboo-battle-intensifies/") by 2015].]. Naturally, for Mother's day, we spent some time picking bamboo shoots. The tip is quite prickly, so I can understand how it can be used as a medieval torture device.
  +imglink("59_bamboo_grandma.jpg", "Grandma wading through bamboo")
  +imglink("59_bamboo_shoots.jpg", "Harvested shoots")

  p Bamboo also acted as firewood and as a javelin. Pole-vaulting may have been possible with some of the thicker stalks, but none of us were brave enough to try it.
  +imglink("59_bamboo_javelin.jpg", "Bamboo sports")
  +imglink("59_bamboo_tall.jpg", "Bamboo grows pretty tall!")

  hr
  h4 Friday afternoon biking in Cali
  p I was biking my normal route around the north part of San Jose on April 21st. It's a roughly 20-mile loop mostly on the Guadalupe River Trail and the San Antonio Creek Trail.
  p Given that this was a Friday afternoon around 5PM, I assume college had just let out. I saw, for the first time, beer pong and boys standing on roofs galore when I passed by Santa Clara University. I would have taken pictures, but I was too self-conscious.
  p When I biked along the San Tom&aacute;s Expressway, I saw the license plate #[a(herf="https://www.cs.cmu.edu/Groups/AI/html/cltl/clm/node17.html") #[code FIXNUM]].
  p And when I biked near the bay on the northern part of the San Antonio Creek Trail, I saw goslings for the first time this year! My cheap smartphone camera doesn't do it justice though.
  +imglink("59_goslings.jpg", "Goslings!")

  hr
  h4 Bowling
  p I met up with Friend F yesterday to chat and bowl, and it was a lot of fun! I'm pretty sure this was my best game since league bowling in high school. The three missed pins were all ten pins. My first two games were 205 and 199, and I struck out all of the last frames.
  +imglink("59_bowling.jpg", "Series statistics")
  +imglink("59_bowling2.jpg", "High game in a long time")
  p We sat next to some guys who had bowled on the Fairfield HS team in the mid-2000's decade, and they were a ton of fun. Fairfield was the dominant team during my high school years (mid 2010's decade), and according to them they were dominant during their school time as well. It makes sense given that the local bowling alley lies in Fairfield.

  hr
  h4 Sonny Boy
  p I was reading through the Linux source code at #[code drivers/tty/n_tty.c] when writing #[a(href="/blog/58") the previous blog post] and noticed that there was a file called #[code drivers/tty/nozomi.c] in the same directory. I asked my sister if that was a name or word she knew, and she looked at me with a funny face. Apparently, it was also the name of #[a(href="https://sonny-boy.fandom.com/wiki/Nozomi") the character on her screen at the time]; she was watching the anime #[em Sonny Boy].
  +imglink("59_nozomi.jpg", "The coincidence")
  p Nozomi means hope in Japanese. It's also the name of the #[a(href="https://cateee.net/lkddb/web-lkddb/NOZOMI.html") HSDPA Broadband Wireless Data Card - Globe Trotter] #[a(href="/blog/54") tty driver].

  hr
  h4 Laputa
  p I was talking to my tech lead G over dinner and we got to the topic of music. G was explaining how Baroque Era and Romantic Era music is commonly thrown under the "classical music" umbrella, despite being separate from the Classical Era. I was talking about how the older, more religious Baroque Era music didn't appeal to me very much, nor did I understand it or the stories behind it very much, and that was probably because I wasn't brought up in a religious setting. G, on the other hand, was well-versed in the Christian religion and greatly appreciates live performances of such music.
  p On the other hand, the topic of Studio Ghibli movies came up, and I was telling G how I really appreciated contemporary Japanese anime music, and a nontrivial part of that is because the stories from the anime are bound to the music. We were talking about why Ghibli movies were so unique and timeless, about how they portray the sanctity of life, characterize love as a form of fateful encounters, render the pauses in everyday life, and illustrate immense, irreversible, sometimes tragic change. I was stumbling over words, because these are complex and powerful feelings, and somehow they are also embedded into the music.
  p "Those feelings might be closer to religion than you would think," G told me. That simple statement changed my entire view on religion. I had never thought about my personal beliefs as anything more than prejudices and wisdom gained through my own experienced, or passed down by relatives. It was never cohesive like any established religion. But here were epics that shaped my childhood and early adulthood, made me feel immense awe and tragedy, and also affected millions of other children who watched these movies or listened to these songs; what is that if not religion?

  +imglink("59_laputa.png", "Laputa ascending")

  hr
  h4 Monogatari
  p I was watching Episode 2 of #[em Nekomonogatari Shiro], of the #[em Monogatari] anime series, and the following dialogue struck me. For context, Hanekawa is staying over at Senjyogahara's place, and Hanekawa prepared breakfast for the two of them.
  +precode('text')
    include ../res/posts/59_tastes.txt
  p It struck me because I've always felt at odds with everyone else about food. I really like food both plain and not plain. I think plain bread or water is delicious, but the sauce on top is always delicious. There's really a lot of foods that I like, and I always like other people's cooking, but I will also like eating a lot of foods that others will not like or find bland.
  p But Senjyogahara's point is that Hanekawa's tastes extend past her eating habits. That refusing to dislike things means that you are dampening your true emotions. Hanekawa is known for being very smart, very polite and reserved, but this is because she is able to hide her emotions deep within herself until they explode in unhealthy ways.
  +imglink("59_eating_habits.png", "Tastes extend past eating habits")
  p I usually can't keep up with the banter in #[em Monogatari], but this really got me wondering about how much Senjyogahara's analysis applies to me as well.
