extends blogpost

block post
	p I am quite excited by this! It was an easy quote, but I have raced many other easy quotes and messed up!

	p #[a(href='https://data.typeracer.com/pit/result?id=%7Ctr:jlam55555%7C7468') Link to race.]

	+imglink('6_163_race.png', 'Screenshot of best race')

	p Also first time reaching #3 on leaderboard! (Even if only for a few minutes)

	+imglink('6_163_leaderboard.png', 'Screenshot of leaderboard')

	p This is a plot of my race history (generated from a python script using bs4 to scrape typeracerdata.com and matplotlib for plotting). The x-axis is number of races, not time, which is perhaps not the most intuitive. The #[a(href='https://data.typeracer.com/pit/result?id=%7Ctr:jlam55555%7C3845') 158wpm] spike around 3800 races was from last May, a record I only managed to beat with a #[a(href='https://data.typeracer.com/pit/result?id=%7Ctr:jlam55555%7C7239') 159wpm] race last month. I thought I couldn't break 160 for the longest time.

	p (Click on the image to see it in full size)

	+imglink('6_history.png', 'History of typeracer scores')

	p Now got to work on not quitting as many races as I do...