extends ../templates/layout

block content
	include ../mixins/codestyle
	include ../mixins/imglink
	include ../mixins/mathjax
	include ../mixins/footnote

	// styles for blog posts
	style.
		kbd {
			background-color: #eee;
			padding: 0 3px;
			border: 1px solid black;
			border-radius: 2px;
		}
		blockquote {
			margin: 0;
			background-color: #eee;
			padding: 1px 1em;
		}
		li {
			margin-block-start: 1em;
			margin-block-end: 1em;
		}
		h5 {
			font-size: 1em;
			color: #666;
			margin-bottom: 1em;
		}

	h2 Blog
	h3= title
	p On #{new Date(date).toLocaleString()}
	p
		a(href="/blog") Return to blog
	hr

	block post

	+write_footnotes
