extends ../templates/layout

block content
    include ../mixins/codestyle
    include ../mixins/imglink
    include ../mixins/mathjax
    include ../mixins/footnote

    h2 Blog
    h3= title
    p On #{new Date(date).toLocaleString()}
    p
        a(href="/blog") Return to blog

    block post

    +write_footnotes
